@model HawkTest.Models.Contact;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<h3>@Model.FullName</h3>

    @foreach(var number in Model.Detail)
    {
        <div class="row">
            
        </div>
    }